- var linkItems = ['facebook-official', 'twitter', 'google', 'linkedin']
- var linkUrl = ['facebook.com', 'twitter.com', 'google.com', 'linkedin.com']

footer.footer
  .footer__top
    .container
      .footer__title Get in Touch
      .footer__links
        each item, key in linkItems
          a.footer__social(href="http://" + linkUrl[key] target="_blank")
            i(class="fa fa-" + item aria-hidden="true")
              span.visually-hidden=linkItems[key]

      .footer__text Subscribe to our newsletter to stay update with what is new
      form(action="#" method="post")
        .footer__field: input.footer__input(type="email" placeholder="Email Address")
        button(type="submit").button Subscribe



  .footer__bottom
    .footer__copy Cssauthor.com &copy; 2019 All Rights Reserved