nav.nav
    - var links = ['Home', 'About', 'Out Approch', 'Our Work']
    each link in links
        if link === links[0]
            a.nav__link.nav__link--active(href="#")=link
        else
            a.nav__link(href="#")=link