doctype html
html
  head
  meta(charset = 'utf-8')
  meta(name='viewport', content="initial-scale=1.0, width=device-width")
  link(rel="stylesheet" href="css/main.min.css")
  title Landing
  body
    include sections/header
    include sections/hero
    include sections/about
    include sections/approach
    include sections/work
    include sections/form
    include sections/footer







